* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  HEADER BEGIN  */
.header-top nav {
    background-color: #262626;
    color: white;
}

.header-middle img {
    object-fit: cover;
    height: 250px;
}

.header-middle .carousel-caption {
    text-shadow: 0px 0px 15px black;
}

.header-bottom .fa-shopping-cart {
    font-size: 25px;
}
/* HEADER END */

/*  MAIN BEGIN   */
.card  {
    position: relative;
}

.card img {
    object-fit: scale-down;
    height: 280px;
    transition: transform .25s;
}

.card:hover img {
    transform: scale(0.9);
}

.card .new {
    position: absolute;
    top: 0;
    left: 0;
    display: inline;
    padding: 5px 15px;
    background-color: rgba(200, 0, 0, .75);
    color: white;
}

.card .recommended {
    position: absolute;
    top: 0;
    right: 0;
    display: inline;
    padding: 5px 15px;;
    background-color: #222222;
    color: white;
}

.btn {
    transition: transform 0.15s;
}

.btn:hover {
    transform: scale(1.025);
}

.forum-back {
    bottom: 5px;
    left: 10px;
}

.forum-post {
    bottom: 5px;
    right: 10px;
}
/*  MAIN END   */

/*  FOOTER BEGIN    */
footer {
    background-color: #262626;
    color: #6a6a6a;
}

footer .footer-top {
}

footer .footer-bottom {
    background-color: #222222;
}
/*  FOOTER END    */